<div class="bg-dark mt-5" style="color:white;border-radius:5px" >
        <div class="form-group m-4 p-1">
            <label for="deckName">牌組名稱</label>
            <input type="text" class="form-control" id="deckName" placeholder="Enter deck name">
        </div>
        <div class="form-group m-4 p-1">
                <label for="deckPass">密碼</label>
                <input type="text" class="form-control" id="deckPass" placeholder="Enter deck name">
        </div>
        <div class="form-group col-10 offset-1">
                <label for="intro">牌組說明</label>
                <textarea class="form-control" id="intro" rows="3"></textarea>
        </div>
            
        <div class="row m-1">
            <ul class="list-group w-100 m-3" id="deckCurContentList" style="color:black">
               
               
            </ul>
        </div>
        <div class="form-group m-4 p-1">
            <a href="#" id='createCard' class="btn btn-primary w-100 mb-3">新增牌組</a> 
        </div>
    
    </div>