<form class="bg-dark mt-5" style="color:white;border-radius:5px">
    <div class="form-group m-4 p-1">
        <label for="cardName">卡片名稱</label>
        <input type="text" class="form-control" id="cardName" placeholder="Enter card name">
    </div>
    <div class="row m-1">
            
            <div class="form-group mt-3 mb-3 col-md-6">
                    <label for="kind">卡片種類</label>
                    <select id="kindSelect" name="kind" class="form-control m-1">
                            <option selected="selected" value='null'>不選擇</option> 
                            <option selected="selected" value='Followers'>從者卡</option> 
                            <option value='Spells'>法術卡</option> 
                            <option value='Amulets'>護符卡</option> 
                    </select>
            </div>
            <div class="form-group mt-3 mb-3 col-md-6">
                    <label for="deckName">稀有度</label>
                    <select id="rareSelect" name="rare" class="form-control m-1">
                            <option selected="selected" value='null'>不選擇</option> 
                            <option selected="selected" value='Bronze'>銅卡</option> 
                            <option value='Silver'>銀卡</option> 
                            <option value='Gold'>金卡</option> 
                            <option value='Legendary'>傳說卡</option> 
                    </select>
            </div>
    </div>
    <div class="form-group m-4 p-1">
        <a href="#" id='findCard' class="btn btn-primary w-100 mb-3">搜尋卡片</a> 
    </div>

</form>